---
title: Project Name
layout: index.hbs
---

<h1>{{{ title }}}</h1>

<h2>Templates</h2>

<ul class="zebra-striping">
{{#each (collection 'template')}}
	<li>
		<a href="#">{{{ this.data.title }}}</a>
	</li>
{{/each}}
</ul>

<h2>Modules</h2>

<ul class="zebra-striping">
{{#each (collection 'module')}}
	<li>
		<a href="#">{{{ this.data.title }}}</a>
	</li>
{{/each}}
</ul>
